@import "./partials/Nav";
@import "./partials/body";
@import "./partials/main";
@import "./partials/footer";
@import "./partials/contacto";
@import "./partials/cuenta";
@import "./partials/productos";
@import "./partials/carrito";

@import "./variables/variables.scss";
@import "./sass2/maps";
@import "./sass2/extend";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: orange;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: orange;
    padding: 50px;
    background-image: url(../img/fondo-hero.jpg);
}
main {
    width: 100%;
    min-height: 1400px;
}
.parrafo {
    font-size: 20px;
    color: rgb(255, 145, 0);
}
