@import "../variables/variables.scss";

body {
    width: 100%;
    background-image: url(../img/fondo3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}